<header id="header-home">
  <div class="container">
    <nav id="main-nav">
      <h1 id="logo">NKM</h1>
      <ul>
        <li><a href="" class="current">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Work</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <div class="header-content">
      <h1>
        I am Neeraj The
        <span class="txt-type">{{typewriterText}}</span>
      </h1>
      <p class="lead">
        I specialize in Frontend & Backend Web Development
      </p>
      <a href="" class="btn-light">View My Work</a>
    </div>
  </div>
</header>
