<!-- Section A : Specialize -->
<section id="home-a" class="text-center py-2">
  <div class="container">
    <h2 class="section-title">I Specialize In</h2>
    <div class="bottom-line"></div>
    <p class="lead">
      Front-end as well as Back-end and Full Stack Web Development
    </p>
    <div class="specials">
      <div>
        <i class="fas fa-file-alt fa-2x"></i>
        <h3>Concepting</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto cupiditate iusto minus
          ratione quaerat repellendus ipsam, dolorum qui consectetur voluptates!
        </p>
      </div>

      <div>
        <i class="fas fa-desktop fa-2x"></i>
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto cupiditate iusto minus
          ratione quaerat repellendus ipsam, dolorum qui consectetur voluptates!
        </p>
      </div>

      <div>
        <i class="fas fa-object-ungroup fa-2x"></i>
        <h3>System Design</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto cupiditate iusto minus
          ratione quaerat repellendus ipsam, dolorum qui consectetur voluptates!
        </p>
      </div>

      <div>
        <i class="fas fa-thumbs-up fa-2x"></i>
        <h3>Interaction</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto cupiditate iusto minus
          ratione quaerat repellendus ipsam, dolorum qui consectetur voluptates!
        </p>
      </div>
    </div>
  </div>
</section>
