@import "../../../assets/scss/config";
@import "../../../assets/scss/utilities";
// order of above file import matters,config have to be imported before utilities otherwise,
//  variableundefine error

#home-c {
    .process {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        text-align: center;

        &-step {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 28px;
            background: $main-color;
            color: set-text-color($main-color);
            border-radius: 50%;
            height: 15px;
            width: 15px;
            line-height: 15px;
            padding: 1rem;
            transition: all 1s;
        }

        // process icon
        &-icon{
            border-radius: 50%;
            background: $dark-color;
            color: set-text-color($dark-color);
            padding: 2rem;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            position: relative;
            transition: all 1s;

            &:hover{
                background: $main-color;
                width: 90px;
                height: 90px;
                line-height: 90px;

                .process-step{
                    background: $dark-color;
                    color: set-text-color($dark-color);
                }

            }
        }

    }
}